*.1
*.8
*.gz
*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
fake/Makefile.in
fake/aclocal.m4
fake/config.h.in
fake/configure
fake/doc/Makefile
fake/doc/Makefile.in
install-sh
libtool
ltmain.sh
missing
scripts/fakechroot
stamp-h1
test/src/test-*
!test/src/test-*.c
