Source: fakeroot
Section: utils
Priority: optional
Build-Depends: sharutils, file, libc6-dev-s390x [s390], gcc-3.3 [s390]
Maintainer: Clint Adams <schizo@debian.org>
Standards-Version: 3.5.9

Package: fakeroot
Architecture: any
Depends: ${shlibs:Depends}
Description: Gives a fake root environment
 This package is intended to enable something like:
   dpkg-buildpackage -rfakeroot
 i.e. to remove the need to become root for a package build.
 This is done by setting LD_PRELOAD to libfakeroot.so,
 which provides wrappers around getuid, chown, chmod, mknod, 
 stat, ..., thereby creating a fake root environment.
 .
 If you don't understand any of this, you do not need fakeroot!
 .
 fakeroot requires SYSV IPC to operate
